/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}




::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #17433d;
  border-radius: 10px;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7.1%;
    --foreground: 0 0% 100%;
    --card: 0 0% 11.8%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 11.8%;
    --popover-foreground: 0 0% 100%;
    --primary: 157 20% 71%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 16.1%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 16.1%;
    --muted-foreground: 0 0% 69%;
    --accent: 0 0% 16.1%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 157 20% 71%;
  }
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('/fonts/TomatoGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('/fonts/TomatoGrotesk-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('/fonts/TomatoGrotesk-LightSlanted.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('/fonts/TomatoGrotesk-SemiBoldSlanted.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('/fonts/TomatoGrotesk-Slanted.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('/fonts/TomatoGrotesk-ThinSlanted.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}